body {
    background-color: #121212;
    color: #eeeeee;
    font-family: Arial, sans-serif;
    padding: 3rem 1rem;
    line-height: 1.6;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  
  h1 {
    color: #90caf9;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
  }
  
  h2 {
    color: #81c784;
    font-size: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 0.75rem;
  }
  
  ul {
    padding-left: 1.5rem;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  .small-li{
    font-size: 0.8rem;
  }

  code {
    background: #263238;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: monospace;
  }
  

.back-button {
  width: 100%;
  margin: 2rem 0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  float: left;
  text-decoration: underline;

}
.back-button:hover {
  color: #0096FF;
}